.wap {
    width: 100%;
    height: 100vh;
    background-color: rgb(197, 197, 197);
}
.div {
    text-align: center;
}

.dia {
    top: 27%;
    background-color: rgb(255, 239, 236);
}

.dia2 {
    top: 50%;
    background-color: rgb(255, 239, 236);
}

.show {
    margin: 0;
    text-align: center;
}


.button {
    display: flex;
    margin-top: 1rem;
    margin-left: 5%;
}

.b {
    margin-left: 1rem;
    margin-right: 2.5rem;
}